.rightbar {
  flex: 3;
}

.rightbarWrapper {
  padding: 20px 20px 0 0;
  margin-left: 25px;
}

.birthdayContainer {
  display: flex;
  align-items: center;
}

.birthdayImg {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.birthdayText {
  font-weight: 300;
  font-size: 15px;
}
.rightbarAd {
  width: 100%;
  border-radius: 10px;
  margin: 30px 0;
}
.rightbarTitle{
    margin-bottom: 20px;
    margin-left: 20px;
}

.rightbarFriendList {
  padding: 0;
  margin: 0;
  margin-left: 20px; 
  list-style: none;
}

.profileRightbarTitle {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

.profileRightbarInfo {
  margin-bottom: 30px;
}

.profileRightbarInfoItem {
  margin-bottom: 10px;
}

.profileRightbarInfoKey {
  font-weight: 600;
  margin-right: 15px;
  color: #555;
}

.profileRightbarInfoValue {
  font-weight: 600;
}

.profileRightbarFriends {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.profileRightbarFriend {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  cursor: pointer;
}

.profileRightbarFriendImg {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
}

.linkItem {
    color: dimgray;
}